name: m3_expressive_shapes_example
description: "Example for Material 3 Expressive Shape Borders"
publish_to: "none"
version: 0.1.0

resolution: workspace

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  flutter_arc_text: ^0.6.0
  m3_expressive_shapes:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
